.home-page {
    background: #f6f7f8;
    .page-fixed-header {
        .home-page-guider {
            height: 64px;
            background: wheat;
            color: $w;
        }
    }
    .page-flowd-footer {}
}